docs/*
!docs/prd.md

**/application-real-*.yml
**/application-local*.yml
.env
.env.*

.gradle/
build/
out/
bin/
*.class
hs_err_pid*

.idea/
*.iml
*.iws
*.ipr
.vscode/
.project
.classpath
.settings/
.metadata/

.DS_Store
Thumbs.db

*.log
logs/
